{% extends "_body.html" %}
{% block content %}
<h1>链接管理</h1>
<div>
    <div class="left link" style="background-color: #FFFFFF">
        <form id="form0">
            <input type="hidden" name="id" value="0">
            名字:
            <input type="text" name="name" class="shadowfocus"><br>
            URL:
            <input type="text" name="url" class="shadowfocus"><br>

            状态:
            <select name="status" class="shadowfocus">
                <option value="hidden">隐藏</option>
                <option value="visible">显示</option>
            </select>
            &nbsp;&nbsp;&nbsp;&nbsp;排序:
            <input type="text" name="sort" class="shadowfocus" style="width: 100px;" value="0"><br>

            描述:
            <input type="text" name="description" class="shadowfocus"><br>
            图标:
            <input type="text" name="icon" class="shadowfocus"><br>

            <p>
                <input type="button" class="btn2 shadowhover2" value="新增" onclick="save(0)">
            </p>
        </form>
    </div>

    {% for lk in links %}
    <div class="left link" id="div{{lk.id}}">
        <form id="form{{lk.id}}">
            <input type="hidden" name="id" value="{{lk.id}}">
            名字:
            <input type="text" name="name" class="shadowfocus" value="{{lk.name}}"><br>
            URL:
            <input type="text" name="url" class="shadowfocus" value="{{lk.url}}"><br>

            状态:
            <select name="status" class="shadowfocus">
                <option value="hidden"
                {{ if_out(lk.status=='hidden', 'selected') }}>隐藏</option>
                <option value="visible"
                {{ if_out(lk.status=='visible', 'selected') }}>显示</option>
            </select>
            &nbsp;&nbsp;&nbsp;&nbsp;排序:
            <input type="text" name="sort" class="shadowfocus" style="width: 100px;" value="{{lk.sort}}"><br>

            描述:
            <input type="text" name="description" class="shadowfocus" value="{{lk.description}}"><br>
            图标:
            <input type="text" name="icon" class="shadowfocus" value="{{lk.icon}}"><br>

            <p>
                <input type="button" class="btn shadowhover" value="删除" onclick="del({{lk.id}})">
                <input type="button" class="btn2 shadowhover2" value="修改" onclick="save({{lk.id}})">
            </p>
        </form>
    </div>
    {% end %}

    <div class="clear"></div>
</div>

<script type="text/javascript" src="http://lib.sinaapp.com/js/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript">
    function del(id) {
        $.ajax({
            url:'/admin/link-del/' + id,
            type:"GET",
            beforeSend:function () {
                return confirm('确定删除吗?');
            },
            success:function (c) {
                if (c > 0) {
                    $('#div' + id).remove();
                }
            }
        });
    }
    function save(id) {
        var f = $('#form' + id);
        $.ajax({
            url:'/admin/link-edit',
            data:f.serialize(),
            type:"POST",
            beforeSend:function () {
                if ($('[name=name]', f).val() == '') {
                    alert('名字不能为空!');
                    $('[name=name]', f).focus();
                    return false;
                }
                if ($('[name=url]', f).val() == '') {
                    alert('URL不能为空!');
                    $('[name=url]', f).focus();
                    return false;
                }
                return true;
            },
            success:function (id) {
                if (id > 0) {
                    location.reload();
                }
            }
        });
    }
</script>
{% end %}