{% extends "_body.html" %}
{% block content %}
<h1>列表</h1>
<table width="100%" class="listt">
	<thead>
		<tr>
			<td width="50">ID</td>
			<td>标题</td>
			<td width="150">时间</td>
			<td width="80">状态</td>
			<td width="50"></td>
		</tr>
	</thead>
	<tbody>
	{% for post in posts %}
	<tr>
		<td>{{ post.id }}</td>
		<td>
			<a href="/admin/post-edit/{{ post.id }}">
                {{ if_out(post.top==1, '[置顶]') }}{{ post.title }}
			</a>
            <div style="margin-top: 5px; font-size: 10px;">
            {% for tag in post.tags %}
            <span>{{ tag.name }}</span>
            {% end %}
            </div>
		</td>
		<td>{{ fmt(post.addtime) }}<br>{{ friend_time(post.addtime) }}</td>
		<td>{{ post.status }}</td>
		<td>
			<input type="button" class="btn2 shadowhover2" value="修改" onclick="edit({{post.id}})">
			<input type="button" class="btn shadowhover" value="删除" onclick="del({{post.id}})">
		</td>
	</tr>
	{% end %}
	</tbody>
</table>

<div class="navbar">
    {%if page_info.paged>1 %}
    <a href="{{ page_info.pre_url }}" class="left">上一页</a>
    {% end %}

    {% for i in range(page_info.paged-5, page_info.paged+5) %}
        {% if i>=1 and i<=page_info.pages %}
            <a href="{{ page_info.paged_url }}{{ i }}" {{ if_out(i==page_info.paged, 'class="current"') }}>
                {{i}}
            </a>
        {% end %}
    {% end %}

    {% if page_info.paged<page_info.pages %}
    <a href="{{ page_info.next_url }}" class="right">下一页</a>
    {% end %}
</div>

<script type="text/javascript" src="http://lib.sinaapp.com/js/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript">
function edit(postid) {
	location = "/admin/post-edit/" + postid;
}

function del(postid) {
	if (!confirm("确定删除吗?")) 
		return;
	
	$.ajax({
		url: "/admin/post-del/" + postid,
		type: "GET",
		success: function(ret) {
			if (ret > 0) {
				location.reload();
			}
		}
	});
}
</script>
{% end %}